table {text-align: center; width: 300px;}

iframe {width: 50%;}

.sites a {margin: 5px;}

header {background: #252525; color: red; text-align: center; display: inline-block; width: 100%;}

nav {background: gray; text-align: center}
nav a {text-decoration: none; margin-left: 25px; color: white;}
nav a:hover {color: red;}

section {width: 50%; float: left; background: white;}

footer {background: #252525; text-align: center;}
footer a {color: white; margin-left: 25px; text-decoration: none;}
footer a:hover {color: red;}