@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*Comentário*/

*{box-sizing: border-box; margin: 0; padding: 0;}

body {background-image: linear-gradient(to right, rgb(160, 157, 157), rgb(235, 235, 235));}

.sites {
    background: #252525;
    list-style-type: none;
    padding: 0; margin: 0;
    overflow: hidden;
}
li {float: left;}

li a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
li a:hover, .dropdown:hover .dropbtn {
    background: blueviolet;
}
li.dropdown {
    display: inline-block;
}
.dropdown_content {
    position: absolute;
    background: white;
    width: 150px;
    display: none;
}
.dropdown_content a {
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
    border: solid 1px gray;
}
.dropdown_content a:hover {
    transition: 100ms;
    color: cyan;
    font-size: 15px;
}
.dropdown:hover .dropdown_content {
    display: block;
}

.borda {border: 1px solid red;}

.background {
    height: 50px;
    background-color: red;
    background-image: url("/img/xadrez.jpg") no-repeat;
    background-position: center;
    background-size: contain;
}
.border {
    height: 50px;
    background-color: blue;
    border-right: 15px dashed black;
    border-top: 15px dashed gray;
    border-left: 15px dashed purple;
    border-bottom: 15px dashed plum;
    border-radius: 20%
}
.margin {
    height: 50px;
    background: purple;
    margin-left: 50px;
}
.padding {
    height: 50px;
    background: green;
    padding-top: 10px;
    padding-left: 10px;
}

.w-h {
    background: yellow;
    height: 100px; max-width: 900px;
}
.w-h:hover {background: blue;}

.text1 {
    background: cyan;
    height: 160px;
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-decoration: overline solid blue;
    text-transform: capitalize;
    text-indent: 150px;
    letter-spacing: 1px;
    line-height: 2;
    word-spacing: 2px;
}
.text2 {
    background: greenyellow;
    height: 60px;
    text-align: center;
    direction: ltr;
    text-decoration: line-through solid purple;
    text-transform: lowercase;
    text-indent: 150px;
    letter-spacing: -4px;
}
.font {
    background: violet;
    height: 80px; max-width: 600px;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.botoes {margin: 10px 0px 10px 20px;}

a#botao1 {
    color: white;
    background: darkgreen;
    height: 80px;
    text-decoration: none;
    padding: 10px;
    border: 3px solid darkblue;
    border-radius: 5px;
    cursor: vertical-text;
}
a#botao1:hover {
    color: darkmagenta;
    background: green;
    padding: 13px;
}

a#botao2 {
    text-decoration: none;
    border: 5px double blue;
    padding: 10px;
    cursor: zoom-in;
}
a#botao2:hover {
    background: blue;
    padding: 8px;
    color: white;
}

a#botao3 {
    color: black;
    text-decoration: none;
    cursor: none;
}
a#botao3:hover {
    color: purple;
    transition: 200ms;
    border-bottom: 5px solid red;
}

a#botao4 {
    font-size: 14px;
    text-decoration: none;
    color: blue;
    cursor: wait;
}
a#botao4:hover {
    font-size: 20px;
    font-weight: bold;
}

a#botao5 {cursor: help;}
a#botao5:hover {color: orange; text-decoration: none;}

.display {display: inline;}
#p1:hover {display: none;}
#hidden {visibility: hidden;}

.relative {
    background: #252525;
    position: relative;
    z-index: -1;
}
.r1 {
    position: relative;
    left: 20px;
    z-index: 0;
    background: red;
    width: 30%; height: 100px;
    display: inline-block;
}
.r2 {
    background: blue;
    width: 30%; height: 100px;
    display: inline-block;
}
.r3 {
    background: purple;
    width: 30%; height: 100px;
    display: inline-block;
    position: relative;
    z-index: 0;
    right: 15px; top: 20px;
}

.fixed {margin: 0;}
.fixed:hover {opacity: 0.9;}
.fixed a img {position: relative; top: 3px;}
.fixed a #chama {top: 0px;}
.fixed a:hover {transition: color 300ms; color: red; cursor: url("/img/chama.png"), auto;}
.fixed a {color: white; text-decoration: none; position: relative; bottom: 5px;}
.fixed {
    position: fixed; z-index: 999;
    bottom: 0px; right: 0px;
    background: #252525;
    width: 115px; height: 40px;
    text-align: center;
    font-size: 20px;
    border: solid 5px red;
}
.instagram-icon {margin-top: 7px; width: 20px;}

.absolute {position: relative; background: #252525;}
.a1 {
    background: red;
    width: 30%; height: 50px;
    display: inline-block;
}
.a2 {
    background: blue;
    width: 30%; height: 50px;
    display: inline-block;
    position: absolute;
    top: 20px;
    z-index: 20;
}
.a3 {
    background: purple;
    width: 30%; height: 50px;
    display: inline-block;
    position: absolute;
}

.sticky {background: #252525; width: 1000px;}
.s1 {
    background: red;
    width: 30%; height: 50px;
    display: inline-block;
}
.s2 {
    background: blue;
    width: 30%; height: 50px;
    display: inline-block;
    position: sticky; left: 30px;
}
.s3 {
    background: purple;
    width: 30%; height: 50px;
    display: inline-block;
}
.overflow {
    width: 100%;
    background: #252525;
    height: 100px;
    color: white;
    overflow-y: scroll;
}
.float {overflow: auto; border: solid 1px black;}
.float img {float: right;}

#gradientel1 {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom right, blue, red, green);
} /*p/ baixo e direita = diagonal*/
#gradientel2 {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(45deg, blue, red, green);
} /*ângulo de 45° em relação à horizontal*/

#gradienter {
    width: 100%;
    height: 100px; /*50% da área pertence ao azul puro (transição não conta)*/
    background-image: radial-gradient(blue 50%, red);
} /*baguio dd*/

#textboxshadow {
    text-shadow: 10px 10px 1px teal, 5px 5px 2px blue;
} /*(x,y) da sombra depois o blur e a cor; permite várias ao mesmo elemento*/
.boxshadow {
    border: solid 1px red;
    height: 50px;
    box-shadow: 5px 5px 1px #252525;
} /*mesma coisa do text-shadow*/

#card {
    background: white;
    text-align: center;
    width: 40%; height: auto; /*se adapta às modificações de tamanho*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} /*card genérico com shadow*/
#card img {max-width: 100%;}

#card:hover .efeitosdetexto {
    white-space: normal;
}
.efeitosdetexto {
    white-space: nowrap; /*deixa o texto em linha única*/
    overflow: hidden; /*adiciona as reticências*/
    text-overflow: ellipsis;
}

.flex_pai {
    background: blue;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*faz com que os itens não fujam da div pai (caso haja conteúdo demais)*/
    justify-content: center; /*posição horizontal na div pai*/
    align-items: center; /*posição vertical na div pai (mais individual, cada item)*/
    align-content: center; /*junta os itens da div pai e joga numa posição específica (olha p/ os elementos como um bloco)*/
}

/* adaptação p/ diferentes tamanhos de tela com Media Queries
@media screen and (max-width: 600px) {
    .flex_pai {flex-direction: column;}
} */
.flex_pai div {
    background: white;
    text-align: center;
    border: solid 1px black;
    padding: 30px;
    margin: 5px;
    flex-grow: 1; /*crescimento dos itens em relação aos outros; 1 == crescimento igualitário; pode ser modificado internamente p/ melhor organização*/
}

#gradient_text p {
    margin: 20px 0px;
    background: linear-gradient(90deg, purple, blueviolet, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#an_b_5 {
    margin: 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.animations_box {
    width: 100px; height: 100px;
    border-radius: 20%;
    background: limegreen;
}
#an_b1 {
    animation: rotate 3s infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#an_b2 {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

#an_b3 {
    animation: slideIn 2s infinite;
}
@keyframes slideIn {
    0% {transform: translateX(-50%);}
    50% {transform: translateX(0%);}
    100% {transform: translateX(50%);}
}

#an_b4 {
    animation: fadeIn 2s infinite;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 5;}
    100% {opacity: 0;}
}

#an_b5 {
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-40px);}
}
