.sites a {margin: 5px;}

.cards {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card {
    background: purple;
    width: 100%;
}
.cord_img img {
    width: 100%;
}
.card_content{
    padding: 18px;
}
.card_info {
    padding: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_price {
    background: purple;
    text-align: center;
    padding: 5px 20px; /*= 5px 20px 5px 20px*/
    border-radius: 20px;
    filter: brightness(90%);
}

.modal_overlay {
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    visibility: hidden;
}
.modal {
    width: 90%; height: 90%;
    background: white;
    margin: 5vh auto;
    position: relative;
}
.modal .close_modal span {
    color: black;
    cursor: pointer;
    position: absolute;
    right: 8px; top: 8px;
}
.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%; height: 90%;
    position: absolute;
    top: 5%;
}
