body {background-color: #252525;}
header {padding: 15px;
    border-bottom: 2px solid yellow;
    background-color: purple;}
*{margin: 0;
    padding: 0;
    border: 60;}
.links {text-align: center;}
.links a {color: yellow;
    font-size: 15px;
    line-height: 30px;
    margin: 16px;
    text-decoration: none;}
.links a:hover {color: aqua; transition: color 400ms;}
#lf a {text-decoration: underline solid red;}

#obm1 h1 {height: 30px; color: blue; font-size: 15px;}
#obm1 h2 {height: 30px; color: blue; font-size: 15px;}
#obm1 img {margin: 25px;}
