@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
.fundo_verde {background: rgb(42, 177, 42); color: white;}
.fundo_vermelho {background: rgb(255, 37, 37); color: white;}


body {
    background: black;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    margin: 0px 20px;
    width: 100%;
    overflow-x: hidden;
}
button {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    cursor: pointer;
}
p, h2, h3 {margin: 0; padding: 0;}


header {
    margin: 10px 0px 20px 0px;
    display: flex;
    justify-content: center;
}


#telainterativa {
    width: 100%; height: 527px;
    display: flex;
}

#botoes_dados {
    background: purple;
    width: 15%; height: 100%;
    padding-bottom: 3px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-end;
}
#botoes_dados button {
    background: none; color: white;
    width: 50px; height: 50px;
    border: none;
    margin: 5px 10px;
}

#botoes_dados button img {height: 45px;}
#botoes_dados p img {width: 30px; margin-right: 3px;}
#botoes_dados p {
    background: #18181f;
    border: solid 4px #343441;
    margin-top: 5px;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
p#dinheiro {font-size: 25px;}

#planeta_compras {
    width: 85%;
    display: flex;
}
#planeta {
    width: 100%; height: 100%;
    background: blue;
}
#planeta #planeta_img {width: 350px; margin: 60px 0px 93px 298.875px;}
#planeta #moeda {width: 18px; position: relative; bottom: -3px;}
#planeta #renda_player {position: relative; bottom: 6px; left: 2px;}

#compras {
    width: 42%; height: 100%;
    background: #343441;
    display: none;
    border: solid 5px #1f1f27;
}
#compras_header {
    padding: 6px 0px 10px 0px;
    text-align: center;
}
#botao_multiplicador{padding: 3px 15px;}
#maquinas {
    margin: 0px 2.5%;
    width: 95%; height: 85%;
    background: #343441;
    text-align: center;
    overflow-y: auto;
}

.maquinas {background: #3f3f6b; margin-bottom: 5px; display: flex;}

.maquinas div {width: 90%;}
.maquinas img {width: 60px; height: 52px; background: #806788;}
.maquinas h2 {width: 80%; text-transform: uppercase; display: inline-block;}
.maquinas .nivel_maquina {width: 30%; display: inline-block;}
.maquinas .renda_maquina {width: 55%; display: inline-block;}
.renda_maquina img {width: 16px; height: 16px; background: #3f3f6b; position: relative; top: 3px;}

.maquinas .preco {
    height: 52px; width: 80px;
    position: relative; right: 15px;
    font-size: 17px;
}
.preco img {width: 15px; height: 15px; background: rgb(42, 177, 42); position: relative; top: 2px;}
